[Unit]
Description=Start BMS Manager ROS Node
After=network.target
User=ubuntu
Group=dialout

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash -c "source /opt/ros/noetic/setup.bash && source /home/ubuntu/catkin_ws/devel/setup.bash && rosrun bms_manager bms_manager_node"
Restart=on-failure
AmbientCapabilities=CAP_SYS_RAWIO
CapabilityBoundingSet=CAP_SYS_RAWIO
PrivateDevices=no
ProtectSystem=full
ProtectHome=no

[Install]
WantedBy=multi-user.target
